/* Assuming your CreateReportPage.css looks like this */

.create-report-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .create-report-card {
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers children horizontally */
    width: 100%;
    max-width: 400px; /* Adjust as needed */
  }
  
  .create-report-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* Space between input and button */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't add to the width */
  }
  
  .create-report-card button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #0056b3;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box; /* Ensures padding doesn't add to the width */
  }
  
  .create-report-card button:hover {
    background-color: #003d82;
  }

.options-buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between the buttons */
    margin-top: 20px; /* Space above the buttons */
  }
  
  .options-buttons button {
    padding: 10px 20px;
    border: none;
    background-color: #0056b3; /* Mauve background color */
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .options-buttons button:hover {
    background-color: #7b1fa2;
  }
  
  .create-report-card select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23007BFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>'); /* Arrow icon */
    background-repeat: no-repeat;
    background-position: right 10px top 50%, 0 0;
    background-size: 12px;
    cursor: pointer;
  }
  
  .create-report-card select::-ms-expand {
    display: none; 
  }
  