.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
    background: #ffffff;
    color: #333;
  }
  
  
.hero-image-container {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 300px; /* Set a fixed height for the container */
    width: 100%; /* Full width */
    margin-bottom: 2rem; /* Space below the hero image */
    opacity: 0; /* Start with the image invisible */
    animation: fadeIn 1.5s ease-in-out forwards; /* Animation to fade in */
  }

  .hero-image-container img {
    max-width: 100%; /* Ensure the image is responsive */
    max-height: 100%; /* Maintain aspect ratio */
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .content-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
    margin-top: 5rem;
  }
  
  .description-box {
    flex: 1;
    padding-right: 2rem;
  }
  
  .description-box h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #0056b3;
  }
  
  .description-box p {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .feature-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 1rem;
  }
  
  .feature-list li {
    margin-bottom: 0.5rem;
  }
  
  .stocks-box {
    flex: 1;
    background: #f8f8f8;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .stocks-box:hover {
    transform: translateY(-5px);
  }
  
  .stocks-box h2 {
    color: #0056b3;
    margin-bottom: 1rem;
  }
  
  .stocks-box ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .stocks-box li {
    background-color: #ffffff;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
  }
  
  @media (max-width: 768px) {
    .content-section {
      flex-direction: column;
      margin-top: 2rem;
    }
    
    .description-box, .stocks-box {
      width: 100%;
      padding-right: 0;
    }
    
    .description-box {
      margin-bottom: 2rem;
    }
    
    .hero-image-container {
        height: auto; /* Height can be auto on smaller screens */
      }
  }
  